body{
    background-image: url("WhatsApp Image 2023-03-13 at 8.36.48 PM (1).jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    background-size:cover;
}
   
h1{
    background:linear-gradient(rgb(203, 43, 208),rgb(11, 24, 11));
    background-repeat:no-repeat;
    background-attachment: fixed;
}

p{
    background:linear-gradient(rgb(106, 147, 163),rgb(45, 62, 45));
    background-repeat:no-repeat;
    background-attachment: fixed;
}
